
<p>Team Name: <%=params[:team][:name]%></p>
<p>Team Motto: <%=params[:team][:motto]%></p>

<p>Hero Name: <%=@member1[:name]%></p>
<p>Hero Power: <%=@member1[:power]%></p>
<p>Hero Biography: <%=@member1[:biography]%></p>

<p>Hero Name: <%=@member2[:name]%></p>
<p>Hero Power: <%=@member2[:power]%></p>
<p>Hero Biography: <%=@member2[:biography]%></p>

<p>Hero Name: <%=@member3[:name]%></p>
<p>Hero Power: <%=@member3[:power]%></p>
<p>Hero Biography: <%=@member3[:biography]%></p>